<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= favicon_link_tag "/assets/favicon.ico" %>
     <script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'> </script>
     <link rel="stylesheet" href="/assets/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" /> <script type="text/javascript" src="/assets/jquery.fancybox.pack.js?v=2.1.5"></script> <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css"media="screen" /> <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script> <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
  <div id="header">
    <div id="logo"> <strong>PUKA KILLA Bed and breakfast </strong></div>
    <div id="info">
      <strong>Información reservas </strong><br/>
      <strong>(+591) 70 71 76 02 </strong><br/>
      <strong>info@pukakillahotels.com </strong>
    </div>
  </div>


  <div class="clear"></div>

  <% if current_uri = request.env['PATH_INFO'].to_s == "/instalaciones-y-servicios" %>
        <img class="homeIMG" src="/assets/instalaciones.jpg" >
  <%else%>
    <% if current_uri = request.env['PATH_INFO'].to_s == "/hospedaje" %>
        <img class="homeIMG" src="/assets/hotel.jpg" >
    <%else%>
      <% if current_uri = request.env['PATH_INFO'].to_s == "/ubicacion" %>
        <img class="homeIMG" src="/assets/ubicacion.jpg" >
      <%else%>
        <% if current_uri = request.env['PATH_INFO'].to_s == "/turismo-cochabamba" %>
          <img class="homeIMG" src="/assets/turismo.jpg" >
        <%else%>
          <% if current_uri = request.env['PATH_INFO'].to_s == "/las-habitaciones" %>
           <img class="homeIMG" src="/assets/habitaciones.jpg" >
          <%else%>
             <div id="slides">
                  <img src="/assets/pukakilla.jpg" height="auto">
                  <img src="/assets/pukakilla2.jpg" height="auto">
                  <img src="/assets/pukakilla3.jpg" height="auto">
            </div>
  <% end %> <% end %> <% end %> <% end %> <% end %>



  <div id="bodyorighi">
  <div id="menu">
    <ul id="sidebar">
        
        <% if current_uri = request.env['PATH_INFO'].to_s == "/" %>
          <a class="highclass"href="/">Inicio</a>
        <%else%>
          <li> <a href="/">Inicio</a> </li>
        <%end%>  

        <% if current_uri = request.env['PATH_INFO'].to_s == "/hospedaje" %>
          <a class="highclass"href="/hospedaje">El Hotel</a>
        <%else%>
          <li> <a href="/hospedaje">El Hotel</a> </li>
        <%end%>

         <% if current_uri = request.env['PATH_INFO'].to_s == "/nosotros" %>
          <a class="highclass"href="/nosotros">Nosotros</a>
        <%else%>
          <li><a href="/nosotros">Nosotros</a></li>
        <%end%>


        <% if current_uri = request.env['PATH_INFO'].to_s == "/instalaciones-y-servicios" %>
          <a class="highclass"href="/instalaciones-y-servicios">Instalaciones y servicios</a>
        <%else%>
          <li><a href="/instalaciones-y-servicios">Instalaciones y servicios</a></li>
        <%end%>

        <% if current_uri = request.env['PATH_INFO'].to_s == "/ubicacion" %>
          <a class="highclass"href="/ubicacion">Ubicacion</a>
        <%else%>
          <li><a href="/ubicacion">Ubicacion</a></li>
        <%end%>

        <% if current_uri = request.env['PATH_INFO'].to_s == "/las-habitaciones" %>
          <a class="highclass"href="/las-habitaciones">Las Habitaciones</a>
        <%else%>
          <li><a href="/las-habitaciones">Las Habitaciones</a></li>
        <%end%>

        
       
      

        <% if current_uri = request.env['PATH_INFO'].to_s == "/galeria-de-fotos" %>
          <a class="highclass"href="/galeria-de-fotos">Galeria de fotos</a>
        <%else%>
          <li><a href="/galeria-de-fotos">Galeria de fotos</a></li>
        <%end%> 
        
        <% if current_uri = request.env['PATH_INFO'].to_s == "/turismo-cochabamba" %>
          <a class="highclass"href="/turismo-cochabamba">Turismo en Cochabamba</a>
        <%else%>
          <li><a href="/turismo-cochabamba">Turismo en Cochabamba</a></li>
        <%end%>
        
        <% if current_uri = request.env['PATH_INFO'].to_s == "/comentarios" %>
          <a class="highclass"href="/comentarios">Comentarios</a>
        <%else%>
          <li><a href="/comentarios">Comentarios</a></li>
        <%end%>

        <% if current_uri = request.env['PATH_INFO'].to_s == "/mail-telefono" %>
          <a class="highclass"href="/mail-telefono">Contacto y reserva</a>
        <%else%>
          <li><a href="/mail-telefono">Contacto y reserva</a></li>
        <%end%>
    </ul>
</div>
  <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
     
     

    <div id="sociales">
      <p> Tambien estamos en </p>
        <a href="https://www.facebook.com/pages/Puka-Killa/1388247604720424?fref=ts"  target="_blank"><img src="/assets/face.png"></a>
        <a href="https://plus.google.com/108676980590506808344/posts"  target="_blank"><img src="/assets/google.png"></a>
    </div>

    </div>


  <div class="clear"></div>

 <div id="footer">
 <div id="alinear">
    <div class="arbol">
      El hotel
      <div class="subArbol">
        Instalaciones y servicios
        Ubicación
        Nosotros
      </div>
    </div>
    <div class="arbol">
      Galeria de Fotos
    </div>
    <div class="arbol">
      Turismo en Cochabamba
      <div class="subArbol">
        Turismo en la ciudad
        Alrederores
        Consejos
      </div>
    </div>
    <div class="arbol">
      Comentarios
    </div>
    <div class="arbol">
      Contactos y reservas
    </div>
  </div>
  </div>
  </body>
</html>

<script src="/assets/jquery.slides.min.js"></script>
<script>
  $(function() {
    $('#slides').slidesjs({
      height: 350,
      width: 920,
      play: {
        active: true,
        auto: true,
        interval: 5000,
        swap: true
      }
    });
  });
</script>
